body {
    margin: 0;
    background-color: #1E1E2F; 
}

.Headi {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid #5A5A7A; 
    font-size: 40px;
    color: #F8F8FF; 
}

.Level {
    margin-top: 50px;
    border: 3px solid #5A5A7A; 
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    gap: 25px;
    padding: 60px;
    max-width: 300px;
    max-height: 500px;
    margin-right: 30px;
}

.Level button {
    /* background-color: #2C2C8A;  */
    color: #2C2C8A; 
    padding: 15px;
    border-radius: 15px;
    width: 200px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    
}

.Level button:hover {
    background-color: #F8F8FF; 
    transform: scale(1.1);
}